.bg-primary {
  background-color: #131319;
}

.btn-primary {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: var(--Secondary-color, #d82e2e);
  /* Sec button shadow */
  box-shadow: 0px 4px 4px 0px rgba(216, 46, 46, 0.1);
}

.input-primary {
  border-radius: 6px;
  border: 1px solid var(--Gray-20, #cbd5e1);
  background: var(--color-neutral-white, #fff);
}

.mega-menu {
  opacity: 0;
  visibility: hidden;
  z-index: -900;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  transition: all 0.15s linear 0s;
}

.solutions-menu {
  opacity: 0;
  visibility: hidden;
  z-index: -900;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  transition: all 0.15s linear 0s;
}

.integrations-menu {
  opacity: 0;
  visibility: hidden;
  z-index: -900;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  transition: all 0.15s linear 0s;
}

.resources-menu {
  opacity: 0;
  visibility: hidden;
  z-index: -900;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  transition: all 0.15s linear 0s;
}

/* #hoverable Class Styles */
.hoverable {
  position: static;
}

.hoverable > a:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.hoverable:hover .solutions-menu {
  opacity: 1;
  visibility: visible;
  z-index: 900;
}

.hoverable:hover .integrations-menu {
  opacity: 1;
  visibility: visible;
  z-index: 900;
}

.hoverable:hover .resources-menu {
  opacity: 1;
  visibility: visible;
  z-index: 900;
}

.heading-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: fit-content;
  display: inline-block;
}

.join-us-heading-bg {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: fit-content;
  display: inline-block;
}

.custom-container {
  padding-left: 120px;
  padding-right: 120px;
}

@media screen and (max-width: 765px) {
  .custom-container {
    padding-left: 20px;
    padding-right: 15px;
  }
}

  
.join-us-bg {
  background-color: #fdf5f5;
}

   

.tax-guide-amber {
  background-color: #fef4eb;
}

.tax-guide-pink {
  background-color: #fdf5f5;
}

.tax-guide-blue {
  background-color: #e5f9ff;
}

.tax-guide-info {
  background-color: rgba(47, 128, 237, 0.1);
}

 

.text-stroke {
  -webkit-text-stroke: 1px #d82e2e; /* Adjust the width and color of the stroke */
  color: transparent; /* Make the text transparent to show only the stroke */
}

/* Sidebar Start */
.sidebar {
  display: flex;
  padding: 19px 8px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #10356d;
  position: fixed;
  z-index: 100;
}

.sidebarDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}
.overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.overviewText {
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.45;
  padding-left: 10%;
  margin-top: -8%;
}

.dashboardDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
  border-radius: 16px;
  /* background: rgba(255, 255, 255, 0.1); */
}
.sidebarLink {
  display: flex;
  padding: 7px 18px;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.65;
}
/* Sidebar End */


/* Header Start */
.header {
  margin-top: -0.5%;
  width: -webkit-fill-available;
  height: 72px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: fixed;
  padding: 5px;
  /* z-index: -1; */
}

.headerSearchBar {
  width: 220px;
  height: 33px;
  flex-shrink: 0;
  border: solid rgba(225, 229, 235, 0.55) 1px;
  border-radius: 20px;
  background-color: rgba(225, 229, 235, 0.55);
  gap: 10px;
  padding-left: 1%;
  align-items: center;
}

.searchText {
  width: 221.467px;
  color: #1f263e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.2478;
}
/* Header End */

@media (max-width: 768px) {
  .hide {
    display: none !important;
  }
  .rowText {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
    margin-bottom: 3%;
    border-radius: 12px;
    border: 1px solid rgba(16, 53, 109, 0.15);
    height: 100px;
    font-size: 14px;
    
  }
}
@media ((min-width: 768px) and (max-width: 1020px)) {
  .hide {
    display: none !important;
  }
  .rowText {
    display: flex;
    padding: 0px 16px;
    justify-content: space-between;
    gap: 350px;
    margin-bottom: 3%;
    border-radius: 12px;
    border: 1px solid rgba(16, 53, 109, 0.15);
    height: 100px;
  }
  }
.organization {
  color: rgba(0, 0, 0, 0.85);

  font-family: Oxygen;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.65;
}
