.bg {
  background: url('../../public/assets/images/auth-bg.svg');
}

.btn-primary {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background: var(--Secondary-color, #d82e2e);
  /* Sec button shadow */
  box-shadow: 0px 4px 4px 0px rgba(216, 46, 46, 0.1);
}

.input-primary{
    border-radius: 6px;
    border: 1px solid var(--Gray-20, #CBD5E1);
    background: var(--color-neutral-white, #FFF);
}

.mega-menu {
  opacity:0;
  visibility:hidden;
  z-index: -900;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  transition: all 0.15s linear 0s;
}

 /* #hoverable Class Styles */
 .hoverable {
  position: static;
}

.hoverable > a:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.hoverable:hover .solutions-menu {
  opacity:1;
  visibility:visible;
  z-index: 900;
}

.hoverable:hover .integrations-menu {
  opacity:1;
  visibility:visible;
  z-index: 900;
}

.hoverable:hover .resources-menu {
  opacity:1;
  visibility:visible;
  z-index: 900;
}

.heading-bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: fit-content;
    display: inline-block;
}

.text-stroke {
  -webkit-text-stroke: 1px #D82E2E; /* Adjust the width and color of the stroke */
  color: transparent; /* Make the text transparent to show only the stroke */
}